<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB2SOc4JTZuinY8h8uWv8-AnwA2uyBEy8</string>
	<key>GCM_SENDER_ID</key>
	<string>781387615100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeahitsSuri.WA8-Group7</string>
	<key>PROJECT_ID</key>
	<string>wa8group7</string>
	<key>STORAGE_BUCKET</key>
	<string>wa8group7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781387615100:ios:18e431646fc4e563e2b2f9</string>
</dict>
</plist>